[submodule "local/packages/pathogen"]
	path = local/packages/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "local/packages/nerdtree"]
	path = local/packages/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "local/packages/nerdtree-tabs"]
	path = local/packages/nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "local/packages/indent-guides"]
	path = local/packages/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "local/packages/matchit"]
	path = local/packages/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "local/packages/sparkup"]
	path = local/packages/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "local/packages/solarized"]
	path = local/packages/solarized
	url = git://github.com/skwp/vim-colors-solarized.git
[submodule "local/packages/vim-javascript"]
	path = local/packages/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "local/packages/vim-surround"]
	path = local/packages/vim-surround
	url = git://github.com/tpope/vim-surround.git
